

body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color:whitesmoke !important;
}
a, a:hover{
  text-decoration: none !important;
  color:inherit !important;
}
nav a {
  text-decoration: none;
}

nav a h2 {
  color: #ffffff;
  margin: 0;
}



.card-content a {
  display: inline-block;
  margin-top: 12px;
}
