@import url("https://fonts.googleapis.com/css?family=Damion");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

/*general*/
/* background-color:whitesmoke !important; */
body {
  font-family: "Source Sans Pro", sans-serif;
}

a,
a:hover {
  text-decoration: none !important;
  color: inherit !important;
}

nav a {
  text-decoration: none;
}

nav a h2 {
  color: #ffffff;
  margin: 0;
}
.card-content a {
  display: inline-block;
  margin-top: 12px;
}

/* override bootstrap components */
.btn-primary,
.dropdown-toggle {
  background-color: #EFD910 !important;
color:black !important;
  padding: 7px 15px !important;
  border-radius: 50px !important;
  margin-left: 10px;
  font-size: 15px;
  border: 0 !important;
  font-weight: bold;
  border: 0;
}

.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}
