

body{
  font-family: 'Source Sans Pro', sans-serif;
}
nav a {
  text-decoration: none;
}

nav a h2 {
  color: #ffffff;
  margin: 0;
}



.card-content a {
  display: inline-block;
  margin-top: 12px;
}
